<div class="header">
    <div class="container-img">
        <a href="https://blogsaverroes.juntadeandalucia.es/iestorrredelosguzmanes/">
            <img src="../../assets/imgs/logo-instituto.png">
        </a>
    </div>
    <div class="controls">
        <div class="container-home">
            <img src="../../assets/imgs/Home.png" style="cursor: pointer;">
        </div>
        <div class="container-back ">
            <img src="../../assets/imgs/Volver.png" (click)="volverAtras()" style="cursor: pointer;">
        </div>
    </div>

    <div class="container-title-section">
        {{title}}
    </div>
    <div class="container-user">
        USUARIO: {{user}}
    </div>
</div>