<div class="modal-header">
  <h5 class="modal-title">Seleccionar alumno</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal()"></button>
</div>

<div class="modal-body scroll-body">
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Buscar alumno por nombre o apellido" [(ngModel)]="busqueda"
      (input)="filtrarAlumnos()" />
  </div>

  <ul class="list-group">
    <li *ngFor="let alumno of alumnosFiltrados" class="list-group-item list-group-item-action" style="cursor: pointer;"
      [class.active]="alumno === alumnoSeleccionado" (click)="seleccionarAlumno(alumno)">
      {{ alumno.nombre }} {{alumno.apellidos}}
    </li>
  </ul>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
  <button type="button" class="btn btn-primary" (click)="confirmarSeleccion()">Seleccionar alumno</button>
</div>