<div class="container mt-4">
    <div class="mb-3 d-flex align-items-center gap-3">
        <label class="fw-bold">ALUMNO:</label>
        <button type="button" class="btn btn-secondary btn-sm" id="buscar-alumno-btn">
            Buscar alumno
        </button>
    </div>
    <div class="mb-3 d-flex align-items-center gap-3">
        <label class="fw-bold">PARTE:</label>
        <button type="button" class="btn btn-secondary btn-sm" id="buscar-parte-btn">
            Buscar parte
        </button>
    </div>

    <div class="table-responsive mt-4">
        <table class="table table-bordered table-hover align-middle text-center rounded-table" style="width: 91%;">
            <tbody>
                <tr>
                    <th class="table-dark" style="width: 120px; white-space: nowrap;">Fecha</th>
                    <td style="width: 200px; white-space: nowrap;">2025-05-09</td>
                </tr>
                <tr>
                    <th class="table-dark" style="width: 120px; white-space: nowrap;">Duración</th>
                    <td style="width: 200px; white-space: nowrap;">3 días</td>
                </tr>
                <tr>
                    <th class="table-dark" style="width: 120px; white-space: nowrap;">Tipo de Sanción</th>
                    <td style="width: 200px; white-space: nowrap;">Expulsión en centro</td>
                </tr>
                <tr>
                    <th class="table-dark" style="width: 120px; white-space: nowrap;">Parte</th>
                    <td style="width: 200px; white-space: nowrap;">Parte 1</td>
                </tr>
                <tr>
                    <th class="table-dark" style="width: 120px; white-space: nowrap;">Tareas</th>
                    <td style="width: 200px; white-space: nowrap;">Tarea 1, Tarea 2</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>