.contenedor {
  text-align: center;
  font-family: 'Inter', sans-serif;
  border-radius: 20px;
}

.login-form {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 20px;
}

.login-form label {
  display: block;
  text-align: left;
  width: 100%;
}

h1 {
  font-weight: bold;
  color: rgb(127, 229, 255);
}

.input{
  padding: 0px 40px 0 40px;
}

.boton {
  font-weight: bold;
}

a {
  text-align: center;
}