.form-tarea {
    display: grid;
    gap: 1rem;
    width: 60%;
}


.form-row {
    grid-template-columns: 150px 1fr;
    gap: 0.75rem;
}

button[type="submit"] {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
}


.form-row label {
    text-align: right;
    font-weight: bold;
}

.centered-wrapper {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
}