<div class="centered-wrapper" style="width: 100%;">
    <form class="form-tarea" (ngSubmit)="registrarTarea()" #tareaForm="ngForm">
        <div class="mb-3">
            <label for="buscar-sancion-btn" class="form-label">SANCIÓN:</label>
            <button type="button" class="btn btn-outline-primary w-100" id="buscar-sancion-btn"
                (click)="abrirModalSancion()">
                Buscar Sanción
            </button>
            <p *ngIf="seleccionHechaSancion">Sanción seleccionada:
                <span class="seleccion">
                    {{sancion.tipoSancion}}
                    {{sancion.fecha | date: 'dd/MM/yyyy'}}
                </span>
            </p>
        </div>

        <div class="mb-3">
            <label for="titulo" class="form-label">TÍTULO:</label>
            <input class="form-control" type="text" name="titulo" id="titulo" placeholder="Ingrese el título" [(ngModel)]="tarea.titulo">
        </div>

        <div class="mb-3">
            <label for="fecha-limite" class="form-label">FECHA LÍMITE:</label>
            <input class="form-control" type="date" name="fecha-limite" id="fecha-limite" [(ngModel)]="tarea.fechaLimite">
        </div>

        <div class="mb-3">
            <label class="form-label">ESTADO:</label>
            <div class="dropdown">
                <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    {{ getEtiquetaEstadoSeleccionado() }}
                </button>

                <ul class="dropdown-menu w-100">
                    <li *ngFor="let estado of estados">
                        <a class="dropdown-item"
                            (click)="seleccionarEstado(estado.valor); tarea.estado = estado.valor; $event.preventDefault()">
                            {{ estado.etiqueta }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="mb-3">
            <label for="descripcion" class="form-label">DESCRIPCIÓN:</label>
            <textarea class="form-control" name="descripcion" id="descripcion" rows="3"
                placeholder="Escribe una descripción..." [(ngModel)]="tarea.descripcion"></textarea>
        </div>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">REGISTRAR TAREA</button>
        </div>
    </form>
</div>