.content-casos-de-uso {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 100%;
    grid: 5%;
}

button {
    min-height: 130px;
    text-align: center;
    padding: 30px;
}