<div class="content-casos-de-uso" style="margin-right: 12%;">
    <button class="btn btn-primary m-3" [routerLink]="['/registrar-sancion']">Registrar Sanción</button>
    <button class="btn btn-primary m-3">Consultar Lista de Sanciones</button>
    <button class="btn btn-primary m-3">Consultar sanción</button>
    <button class="btn btn-primary m-3">Modificar sanción</button>
    <button class="btn btn-primary m-3">Registro de tareas durante expulsión</button>
    <button class="btn btn-primary m-3">Consulta de tareas del alumnado expulsado</button>
</div>