<div class="content-casos-de-uso" style="margin-right: 2%;">
    <button class="btn btn-primary m-3" [routerLink]="['/registrar-sancion']">Registrar Sanción</button>
    <button class="btn btn-primary m-3" [routerLink]="['/consultar-sanciones']">Consultar Lista de Sanciones</button>
    <button class="btn btn-primary m-3" [routerLink]="['/registrar-tarea']">Registro de tareas durante expulsión</button>
    <button class="btn btn-primary m-3" [routerLink]="['/consultar-tareas-alumno-expulsado']">Consulta de tareas del alumnado expulsado</button>
</div>