.content-casos-de-uso {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    grid: 5%;
}

button {
    max-height: 150px !important; 
    padding: 15px !important;     
    font-size: 0.95rem !important; 
  }
  