.form-sancion {
    max-width: 800px;
    display: grid;
    gap: 1rem;
    width: 100%;
}

.form-row {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    gap: 1rem;
}

.form-row label {
    text-align: right;
    font-weight: bold;
}