<div class="centered-wrapper mx-auto">
  <form class="form-sancion" (ngSubmit)="registrarSancion()" #sancionForm="ngForm">
    <div class="mb-3">
      <label for="buscar-alumno-btn" class="form-label">ALUMNO:</label>
      <button type="button" class="btn btn-outline-primary w-100" id="buscar-alumno-btn" (click)="abrirModalAlumno()">
        Buscar alumno
      </button>
      <p *ngIf="seleccionHechaAlumno">Alumno seleccionado:
        <span class="seleccion">
          {{alumno.nombre}}
          {{alumno.apellidos}}
        </span>
      </p>
    </div>

    <div class="mb-3">
      <label for="fecha" class="form-label">FECHA DE SANCIÓN:</label>
      <input class="form-control" type="date" name="fecha" id="fecha" [(ngModel)]="sancion.fecha">
    </div>

    <div class="mb-3">
      <label for="duracion" class="form-label">DURACIÓN:</label>
      <input class="form-control" type="text" name="duracion" id="duracion" placeholder="Ingrese la duración" [(ngModel)]="sancion.duracion">
    </div>

    <div class="mb-3">
      <label class="form-label">PARTE:</label>
      <button type="button" class="btn btn-outline-primary w-100" id="buscar-alumno-btn" (click)="abrirModalParte()">
        Buscar parte
      </button>
      <p *ngIf="seleccionHechaParte">Parte seleccionado:
        <span class="seleccion">
          {{parte.motivo}} - {{parte.lugar}} ({{parte.fecha | date: 'dd-MM-yyyy'}})
        </span>
      </p>
    </div>

    <div class="mb-3">
      <label class="form-label">TIPO DE SANCIÓN:</label>
      <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          {{ getEtiquetaTipoSeleccionado() }}
        </button>

        <ul class="dropdown-menu w-100">
          <li *ngFor="let tipo of tiposSancion">
            <a class="dropdown-item"
              (click)="seleccionarTipo(tipo.valor); sancion.tipoSancion = tipo.valor; $event.preventDefault()">
              {{ tipo.etiqueta }}
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">REGISTRAR SANCIÓN</button>
    </div>
  </form>
</div>