.sidebar {
  background-color: blueviolet;
  width: 250px;
  min-height: 100vh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
  padding: 1rem;
}

.custom-item {
  background-color: transparent;
  color: white;
  border: none;
  transition: transform 0.4s ease, background-color 0.4s ease;
}

.custom-item:hover {
  background-color: rgba(75, 0, 130, 0.4);
  transform: scale(1.05);
  cursor: pointer;
}
