<div class="sidebar p-3 vh-100">
  <div class="list-group">
    <span class="list-group-item custom-item disabled">SECCIÓN 1</span>
    <span class="list-group-item custom-item disabled">SECCIÓN 2</span>
    <span class="list-group-item custom-item disabled">SECCIÓN 3</span>
    <span class="list-group-item custom-item disabled">SECCIÓN 4</span>
    <span class="list-group-item custom-item disabled">SECCIÓN 5</span>
    <span class="list-group-item custom-item disabled">SECCIÓN 6</span>
    <span class="list-group-item custom-item disabled">SECCIÓN 7</span>
    <span class="list-group-item custom-item disabled">SECCIÓN 8</span>
    <span class="list-group-item custom-item disabled">SECCIÓN 9</span>
    <a class="list-group-item custom-item text-white text-decoration-none rounded" routerLink="/seguimiento">
      GESTIÓN DE CONDUCTA ALUMNADO
    </a>
  </div>
</div>
